*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    outline: none;
}
h1{
    margin-top: 10px;
    text-align: center;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login{
    width: 25%;
    height: 500px;
    border-radius: 15px;
    background-color: rgb(111, 113, 255);
}
.button, .form-login{
    display: grid;
    justify-content: center;
    margin: 10px 0;
}
.t-login{
    margin-top: 20px;
}
.button button{
    height: 45px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 250px;
    margin-top: 10px;
    padding: 0px 35px;
    border-radius: 10px;

    background-color: rgba(255, 255, 255, 0.827);
    color: rgb(95, 95, 95);

}
.form-login input, .form-login button{
    width: 230px;
    height: 30px;
    margin-top: 10px;
    border-radius: 10px;
}
.form-login input{
    padding-left: 10px;
    background-color: rgba(103, 55, 148, 0.694);
}
input::placeholder{
    color: #fff;
}
input:focus{
    border-color: red;
    outline: 3px solid rgb(154, 155, 255);
}
.form-login button{
    margin-top: 20px;
    background-color: rgba(188, 188, 188, 0.677);
    color: #fff;
    font-weight: bold;
}
.form-login button:hover, .button button:hover{
    background-color: blueviolet;
    outline: 3px solid rgb(154, 155, 255);
}
.button button:hover{
    color: #fff;
}